<%= form_with(model: kind, local: true) do |form| %>
  <% if kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kind.errors.count, "error") %> prohibited this kind from being saved:</h2>

      <ul>
      <% kind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :casework_id %>
    <%= form.text_field :casework_id, id: :kind_casework_id %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :kind_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :kind_name %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks, id: :kind_remarks %>
  </div>

  <div class="field">
    <%= form.label :kindtype %>
    <%= form.number_field :kindtype, id: :kind_kindtype %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :kind_status %>
  </div>

<h2>Editing Things</h2>

  <div class="actions">
    <%= form.submit %>
  </div>
  <%= form_for @kind do |f| %>

    <ul>
      <%= f.fields_for :things do |thing_form| %>
        <li>
          <%= thing_form.check_box :_destroy %>

          <%= thing_form.label :casework_id %>
          <%= thing_form.text_field :casework_id %>

          <%= thing_form.label :kind_id %>
          <%= thing_form.text_field :kind_id %>

          <%= thing_form.label :code %>
          <%= thing_form.text_field :code %>

          <%= thing_form.label :name %>
          <%= thing_form.text_field :name %>
          ...
        </li>
      <% end %>
    </ul>
    <%# link_to 'Edit', edit_kind_path(kind) %>
      <%= link_to '增行1', addthing_path(@kind)  %>
      <%= button_to '增行', addthing_path, method: :addthing   %>
  <% end %>

<% end %>
