<%= form_with(model: ess, local: true) do |form| %>
  <% if ess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ess.errors.count, "error") %> prohibited this ess from being saved:</h2>

      <ul>
      <% ess.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :ess_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ess_name %>
  </div>

  <!-- <div class="field">
    <%= form.label :essetype %>
    <%= form.number_field :essetype, id: :ess_essetype %>
  </div> -->

  <div class="field">
  <%= form.label :essetype %>
  <%= form.select :essetype, Esse.essetypes.keys,
                prompt: "select a type1" %>
  </div>

  <!-- <%= form.fields_for :esselines do |esseline_form| %>
      code:<%= esseline_form.text_field :code %>
      name:<%= esseline_form.text_field :name %>
  <% end %> -->
  <%= form.nested_fields_for :esselines do |esseline_form| %>

      <%= esseline_form.remove_nested_fields_link %>
      code:<%= esseline_form.text_field :code %>
      name:<%= esseline_form.text_field :name %>
      esselinetype:<%= esseline_form.text_field :esselinetype %>
      remarks:<%= esseline_form.text_field :remarks %>
  <% end %>
  <%= form.add_nested_fields_link :esselines  %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
