<p id="notice"><%= notice %></p>

<p>
  <strong>Casework:</strong>
  <%= @caseworklinekind.casework %>
</p>

<p>
  <strong>Caseitem:</strong>
  <%= @caseworklinekind.caseitem %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @caseworklinekind.kind %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @caseworklinekind.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @caseworklinekind.price %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @caseworklinekind.cost %>
</p>

<p>
  <strong>Vatgroup:</strong>
  <%= @caseworklinekind.vatgroup %>
</p>

<p>
  <strong>Whscode:</strong>
  <%= @caseworklinekind.whscode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @caseworklinekind.status %>
</p>

<p>
  <strong>Openqty:</strong>
  <%= @caseworklinekind.openqty %>
</p>

<p>
  <strong>Baseid:</strong>
  <%= @caseworklinekind.baseid %>
</p>

<%= link_to 'Edit', edit_caseworklinekind_path(@caseworklinekind) %> |
<%= link_to 'Back', caseworklinekinds_path %>
