<p id="notice"><%= notice %></p>

<p>
  <strong>Dutyitem:</strong>
  <%= @dutydeal.dutyitem %>
</p>

<p>
  <strong>Flowdeal:</strong>
  <%= @dutydeal.flowdeal %>
</p>

<p>
  <strong>Seltype:</strong>
  <%= @dutydeal.seltype %>
</p>

<p>
  <strong>Addtype:</strong>
  <%= @dutydeal.addtype %>
</p>

<p>
  <strong>Updtype:</strong>
  <%= @dutydeal.updtype %>
</p>

<p>
  <strong>Deltype:</strong>
  <%= @dutydeal.deltype %>
</p>

<%= link_to 'Edit', edit_dutydeal_path(@dutydeal) %> |
<%= link_to 'Back', dutydeals_path %>
