<p id="notice"><%= notice %></p>

<h1>Dutyitems</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Flowitem</th>
      <th>Seltype</th>
      <th>Addtype</th>
      <th>Updtype</th>
      <th>Deltype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dutyitems.each do |dutyitem| %>
      <tr>
        <td><%= dutyitem.role.name %></td>
        <td><%= dutyitem.flowitem.name %></td>
        <td><%= dutyitem.seltype %></td>
        <td><%= dutyitem.addtype %></td>
        <td><%= dutyitem.updtype %></td>
        <td><%= dutyitem.deltype %></td>
        <td><%= link_to 'Show', dutyitem %></td>
        <td><%= link_to 'Edit', edit_dutyitem_path(dutyitem) %></td>
        <td><%= link_to 'Destroy', dutyitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render plain: "OK" %>
<%= link_to 'New Dutyitem', new_dutyitem_path %>
