<p id="notice"><%= notice %></p>

<h1>Dutyitems</h1>

<!-- <%= check_box_tag(:pet_dog) %>
<%= label_tag(:pet_dog, "I own a dog") %>
<%= check_box_tag(:pet_cat) %>
<%= label_tag(:pet_cat, "I own a cat") %>
<p></p>
<%= radio_button_tag(:age, "child") %>
<%= label_tag(:age_child, "I am younger than 21") %>
<%= radio_button_tag(:age, "adult") %>
<%= label_tag(:age_adult, "I'm over 21") %>
<p></p>

<%= text_area_tag(:message, "Hi, nice site", size: "24x6") %>
<%= password_field_tag(:password) %>
<%= hidden_field_tag(:parent_id, "5") %>
<%= search_field(:user, :name) %>
<%= telephone_field(:user, :phone) %>
<%= date_field(:user, :born_on) %>
<%= datetime_local_field(:user, :graduation_day) %>
<%= month_field(:user, :birthday_month) %>
<%= week_field(:user, :birthday_week) %>
<%= url_field(:user, :homepage) %>
<%= email_field(:user, :address) %>
<%= color_field(:user, :favorite_color) %>
<%= time_field(:task, :started_at) %>
<%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %>
<%= range_field(:product, :discount, in: 1..100) %>
<p></p> -->
<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Flowitem</th>
      <th>Seltype</th>
      <th>Addtype</th>
      <th>Updtype</th>
      <th>Deltype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dutyitems.each do |dutyitem| %>
      <tr>
        <td><%= dutyitem.role.name %></td>
        <td><%= dutyitem.flowitem.name %></td>
        <td><%= dutyitem.seltype %></td>
        <td><%= dutyitem.addtype %></td>
        <td><%= dutyitem.updtype %></td>
        <td><%= dutyitem.deltype %></td>
        <td><%= link_to 'Show', dutyitem %></td>
        <td><%= link_to 'Edit', edit_dutyitem_path(dutyitem) %></td>
        <td><%= link_to 'Destroy', dutyitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "dutydeal", collection: @dutydeals, locals: {dutyitem_select_id: 1} %>

<%= link_to 'New Dutyitem', new_dutyitem_path %>
