<p id="notice"><%= notice %></p>
<!-- header -->
<!-- header -->
<div class="card-header bg-transparent border-first">
  <div class="card-block border-0">
    <h1>dutyitem</h1>
  </div>
</div>
<div class="card-header bg-transparent border-first">
  <div class="card-block border-0">
    <p>
      <strong>Role:</strong>
      <%= @dutyitem.role.name %>
    </p>

    <p>
      <strong>Flowitem:</strong>
      <%= @dutyitem.flowitem.name %>
    </p>

    <p>
      <strong>Seltype:</strong>
      <%= @dutyitem.seltype %>
    </p>

    <p>
      <strong>Addtype:</strong>
      <%= @dutyitem.addtype %>
    </p>

    <p>
      <strong>Updtype:</strong>
      <%= @dutyitem.updtype %>
    </p>

    <p>
      <strong>Deltype:</strong>
      <%= @dutyitem.deltype %>
    </p>
  </div>
</div>
<!-- header -->
<div class="card-header bg-transparent border-first">
  <div class="card-block border-0">
    <h2>dutydeals</h2>
  </div>
</div>
<!-- body -->
<div class="card-body text-first border-first">
  <table class="table table-sm table-striped">
   <thead class="thead-dark">
    <tr>

      <th>Dutydeal Id</th>

      <th>Dutydeal</th>
      <th>Seltype</th>
      <th>Addtype</th>
      <th>Updtype</th>
      <th>Deltype</th>
      <th colspan="3"></th>
    </tr>
   </thead>

   <tbody>
     <% @dutyitem.dutydeals.each do |dutydeal| %>
       <tr>
         <!-- <td><%= dutydeal.dutyitem.role.name %></td> -->
         <td><%= link_to dutydeal.id, edit_dutydeal_path(dutydeal) %></td>
         <!-- <td><%= link_to dutydeal.flowdeal.flowitem.name, dutydeal %></td> -->
         <td><%= link_to dutydeal.flowdeal.unitdeal.name, dutydeal %></td>
         <td><%= dutydeal.seltype %></td>
         <td><%= dutydeal.addtype %></td>
         <td><%= dutydeal.updtype %></td>
         <td><%= dutydeal.deltype %></td>

         <td><%= link_to 'Destroy', dutydeal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
     <% end %>
   </tbody>

   <tfoot>
    <tr >

    </tr>
   </tfoot>
  </table>
</div>
<!-- footer -->
<div class="card-footer bg-transparent border-first">

  <%= link_to 'Edit', edit_dutyitem_path(@dutyitem) %> |
  <%= link_to 'Back', dutyitems_path %> |
  <%= link_to 'New Dutydeal', new_dutydeal_path %>
</div>
