<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @dutyitem.role %>
</p>

<p>
  <strong>Flowitem:</strong>
  <%= @dutyitem.flowitem %>
</p>

<p>
  <strong>Seltype:</strong>
  <%= @dutyitem.seltype %>
</p>

<p>
  <strong>Addtype:</strong>
  <%= @dutyitem.addtype %>
</p>

<p>
  <strong>Updtype:</strong>
  <%= @dutyitem.updtype %>
</p>

<p>
  <strong>Deltype:</strong>
  <%= @dutyitem.deltype %>
</p>

<%= link_to 'Edit', edit_dutyitem_path(@dutyitem) %> |
<%= link_to 'Back', dutyitems_path %>
