<p id="notice"><%= notice %></p>

<p>
  <strong>Casework:</strong>
  <%= @caseworkesseline.casework %>
</p>

<p>
  <strong>Caseitem:</strong>
  <%= @caseworkesseline.caseitem %>
</p>

<p>
  <strong>Esse:</strong>
  <%= @caseworkesseline.esse %>
</p>

<p>
  <strong>Esseline:</strong>
  <%= @caseworkesseline.esseline %>
</p>

<p>
  <strong>Esselinecode:</strong>
  <%= @caseworkesseline.esselinecode %>
</p>

<p>
  <strong>Esselinename:</strong>
  <%= @caseworkesseline.esselinename %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @caseworkesseline.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @caseworkesseline.unit %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @caseworkesseline.remarks %>
</p>

<p>
  <strong>Fromwhscode:</strong>
  <%= @caseworkesseline.fromwhscode %>
</p>

<p>
  <strong>Towhscode:</strong>
  <%= @caseworkesseline.towhscode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @caseworkesseline.status %>
</p>

<%= link_to 'Edit', edit_caseworkesseline_path(@caseworkesseline) %> |
<%= link_to 'Back', caseworkesselines_path %>
