<%= form_with(model: flowdeal, local: true) do |form| %>
  <% if flowdeal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flowdeal.errors.count, "error") %> prohibited this flowdeal from being saved:</h2>

      <ul>
      <% flowdeal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :flowitem_id,"Flowitem" %>
    <%= form.select :flowitem_id,
    Flowitem.all.collect {|p| [ p.name, p.id ] } %>
  </div>


  <div class="field">
    <%= form.label :unitdeal_id,"Unitdeal" %>
    <%= form.select :unitdeal_id,
    Unitdeal.all.collect {|p| [ p.name, p.id ] } %>
  </div>

  <div class="field">
    <%= form.label :dealtype %>
    <%= form.select :dealtype, Flowdeal.dealtypes.keys,
              prompt: "select a dealtype" %>
  </div>

  <div class="field">
    <%= form.label :floworderid %>
    <%= form.number_field :floworderid, id: :flowdeal_floworderid %>
  </div>

  <div class="field">
  <%= form.label :flowtype %>
  <%= form.select :flowtype, Flowdeal.flowtypes.keys,
                prompt: "select a type" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
