<%= form_for([@casework, @casework.caseworklinethings.build]) do |form| %>
<p id="notice"><%= notice %></p>
<% if @casework.caseworklinethings.build.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@casework.caseworklinethings.build.errors.count, "error") %> prohibited this caseworklinething from being saved:</h2>

    <ul>
    <% @casework.caseworklinethings.build.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div type="hidden"  class="card-block">
  <h6 class="card-title">物明细</h6>
  <div class="d-flex flex-column flex-sm-row-2">
    <div class="p-1 form-group row">
      <!-- <div type="hidden" class="col-sm-4">
        活动：<%= form.select :casework_id,
        Casework.all.collect {|p| [ p.name, p.id ] } %>
      </div>
      <div class="col-sm-4 ">
        项目：<%= form.select :caseitem_id,
        Caseitem.all.collect {|p| [ p.name, p.id ] } %>
      </div> -->
      <div class="col-sm-4 ">
        资源：<td class="rlcode"><%= form.select :kind_id,
        Kind.all.collect {|p| [ p.name, p.id ] },
                      prompt: "kind name" %>
      </div>
      <div class="col-sm-4 ">
        资源：<td class="rlcode"><%= form.select :thing_id,
        Thing.all.collect {|p| [ p.name, p.id ] },
                      prompt: "thing name" %>
      </div>
      <div class="col-sm-4 ">
        数量：<td class="rlquan"><%= form.number_field :quantity, id: :resourcesline_quantity %></td>
      </div>
      <div class="col-sm-4 ">
        单位：<td class="rlquan"><%= form.number_field :unit, id: :resourcesline_quantity %></td>
      </div>

      <div class="col-sm-4 ">
        仓库：<td class="rlwhsc"><%= form.number_field :fromwhscode, id: :resourcesline_whscode %></td>
      </div>
      <div class="col-sm-4 ">
        仓库：<td class="rlwhsc"><%= form.number_field :towhscode, id: :resourcesline_whscode %></td>
      </div>
      <div class="col-sm-4 ">
        状态：<td class="rlstat"><%= form.select :status, Caseworkline.statuses.keys%></td>
      </div>



      <div class="col-sm-4 ">
        <!-- <% form.submit %> -->
        <!-- <button type="submit" class="btn btn-primary">新增行</button> -->
      </div>

    </div>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
