<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @casework.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @casework.name %>
</p>

<p>
  <strong>Caseflowwork:</strong>
  <%= @casework.caseflowwork %>
</p>

<p>
  <strong>Buyid:</strong>
  <%= @casework.buyid %>
</p>

<p>
  <strong>Buycode:</strong>
  <%= @casework.buycode %>
</p>

<p>
  <strong>Buyname:</strong>
  <%= @casework.buyname %>
</p>

<p>
  <strong>Sellid:</strong>
  <%= @casework.sellid %>
</p>

<p>
  <strong>Sellcode:</strong>
  <%= @casework.sellcode %>
</p>

<p>
  <strong>Sellname:</strong>
  <%= @casework.sellname %>
</p>

<p>
  <strong>Salesid:</strong>
  <%= @casework.salesid %>
</p>

<p>
  <strong>Salescode:</strong>
  <%= @casework.salescode %>
</p>

<p>
  <strong>Salesname:</strong>
  <%= @casework.salesname %>
</p>

<p>
  <strong>Status:</strong>
  <%= @casework.status %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @casework.remarks %>
</p>

<%= link_to 'Edit', edit_casework_path(@casework) %> |
<%= link_to 'Back', caseworks_path %>
