<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @casework.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @casework.name %>
</p>

<p>
  <strong>Caseflowwork:</strong>
  <%= @casework.caseflowwork.name %>
</p>

<p>
  <strong>Buyid:</strong>
  <%= @casework.buyid.id %>
</p>

<p>
  <strong>Buycode:</strong>
  <%= @casework.buyid.code %>
</p>

<p>
  <strong>Buyname:</strong>
  <%= @casework.buyid.name %>
</p>

<p>
  <strong>Sellid:</strong>
  <%= @casework.sellid.id %>
</p>

<p>
  <strong>Sellcode:</strong>
  <%= @casework.sellid.code %>
</p>

<p>
  <strong>Sellname:</strong>
  <%= @casework.sellid.name %>
</p>

<p>
  <strong>Salesid:</strong>
  <%= @casework.salesid.id %>
</p>

<p>
  <strong>Salescode:</strong>
  <%= @casework.salesid.code %>
</p>

<p>
  <strong>Salesname:</strong>
  <%= @casework.salesid.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @casework.status %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @casework.remarks %>
</p>

<%= link_to 'Edit', edit_casework_path(@casework) %> |
<%= link_to 'Back', caseworks_path %>
