  <p id="notice"><%= notice %></p>

<!-- <div  class="card bg-light mb-3"> -->
  <!-- caseitem_casedeal for name -->

  <div class="card-header  border-first">
      <div class="card-block">
        <h6 class="card-title">
          <span class="btn-info btn-sm">
            <%= link_to @casework.caseflowwork.casedeal.caseitem.name,
            caseitem_path(@casework.caseflowwork.casedeal.caseitem) %>
          </span>
           - <%= @casework.caseflowwork.casedeal.name %> - <%= @casework.name %>:<%= @casework.id %>
        </h6>
        <h6 class="card-title">
          <% @casework.caseflowwork.casedeal.caseflowworks.each do |caseflowwork| %>
           <% if caseflowwork.name == @casework.caseflowwork.name %>
             <!-- <button type="button" class="btn btn-light btn-sm"> -->
               <span class="btn-info btn-sm"><%= caseflowwork.name %></span> |
             <!-- </button> -->
           <% else %>
             <%= caseflowwork.name %> |
           <% end %>
          <% end %>
        </h6>
      </div>

  </div>
  <!-- casework -->
  <div class="card-header bg-transparent border-first">
    <div class="card-block border-0">
      <div class="p-1 form-group row">
        <div class="col-sm-4"><p><%= @casework.buy.code %>：<%= @casework.buy.name %></p></div>
        <div class="col-sm-4"><p><%= @casework.sell.code %>：<%= @casework.sell.name %></p></div>

        <div class="col-sm-4"><p>状态：<%= @casework.status %></p></div>

        <div class="col-sm-4"><p>日期：<%= @casework.created_at.strftime('%Y-%m-%d') %></p></div>
        <div class="col-sm-4 d-none d-sm-block"><p>桌面显示</p></div>
      </div>
    </div>
  </div>

  <div class="card-body text-first border-first">
    <table class="table table-sm table-striped">
     <thead class="thead-dark">
      <tr>
        <!-- <th scope="col"><div class="d-inline p-1">序</div></th> -->
        <th><p class="d-inline ">代码</p></th>
        <th><p class="d-inline ">资源</p></th>
        <th><p class="d-inline ">数量</p></th>
        <th><p class="d-inline">价格</p></th>
        <th><p class="d-inline ">合计</p></th>
        <th><p class="p-0 d-none d-sm-inline ">成本价</p></th>
        <th><p class="p-0 d-none d-sm-inline ">成本合计</p></th>
        <th><p class="d-none d-sm-inline ">税率</p></th>
        <th><p class="d-none d-sm-inline ">仓库</p></th>
        <th><p class="d-none d-sm-inline float-right float-none">状态</p></th>
      </tr>
     </thead>

     <tbody>
      <% @casework.caseworklines.each do |caseworkline| %>
       <tr>
         <td>
           <div class="d-inline">
             <%= link_to caseworkline.esse.code, edit_casework_caseworkline_path(caseworkline.casework, caseworkline)  %>
           </div>
         </td>
         <td><div class="d-inline"><%= caseworkline.esse.name %></div></td>
         <td><div class="d-inline"><p class="text-right"><%= caseworkline.quantity %></p></div></td>
         <td><div class="d-inline"><p class="text-right"><%= sprintf("%0.02f",caseworkline.price) %></p></div></td>
         <td><div class="d-inline"><p class="text-right"><%= number_to_currency(sprintf("%0.02f",caseworkline.price_total)) %></p></div></td>

         <td><div class="d-none d-sm-inline"><p class="text-right"><%= sprintf("%0.02f",caseworkline.cost) %></p></div></td>
         <td><div class="d-none d-sm-inline"><p class="text-right"><%= sprintf("%0.02f",caseworkline.cost_total) %></p></div></td>
         <td><div class="d-none d-sm-inline"><p class="text-right"><%= caseworkline.vatgroup %></p></div></td>
         <td><div class="d-none d-sm-inline"><p class="text-right"><%= caseworkline.whscode %></p></div></td>
         <td><div class="d-none d-sm-inline"><p class="text-right"><%= caseworkline.status %></p></div></td>

       </tr>
      <% end %>
     </tbody>

     <tfoot>
      <tr >
       <!-- <th scope="col"><div class="d-inline"></div></th> -->
       <th scope="col"><div class="d-inline"><p>总计</p></div></th>
       <th scope="col"><div class="d-inline"></div></th>
       <th scope="col"><div class="d-inline"><p class="text-right"><%=  @casework.sum_quan_total %></p></div></th>
       <th scope="col"><div class="d-inline"><p class="text-right"></p></div></th>
       <th scope="col"><div class="d-inline"><p class="text-right"><%=  sprintf("%0.02f", @casework.sum_price_total) %></p></div></th>
       <th scope="col"><div class="d-none d-sm-inline"></div></th>
       <th scope="col"><div class="d-none d-sm-inline"><p class="text-right"><%=  sprintf("%0.02f", @casework.sum_cost_total) %></p></div></th>
       <th scope="col"><div class="d-none d-sm-inline"></div></th>
       <th scope="col"><div class="d-none d-sm-inline"></div></th>
       <th scope="col"><div class="d-none d-sm-inline"></div></th>


      </tr>
     </tfoot>
    </table>
  </div>

  <div class="card-footer bg-transparent border-first">
    <div class="p-1 form-group row">

      <div class="col-sm-4"><p><%= @casework.sales.code %>：<%= @casework.sales.name %></p></div>

      <div class="col-sm-4"><p>备注：<%= @casework.remarks %></p></div>

    </div>
    <%= link_to 'Edit', edit_casework_path(@casework) %> |
    <!-- <%= link_to 'Back', caseworks_path %> -->
    <%= link_to 'Back', caseitem_path(@casework.caseflowwork.casedeal.caseitem) %>
  </div>

<!-- </div> -->
