  <p id="notice"><%= notice %></p>

<!-- <div  class="card bg-light mb-3"> -->
  <!-- caseitem_casedeal for name -->

  <div class="card-header  border-first">
      <div class="card-block">
        <h6 class="card-title">
          <span class="btn-info btn-sm">
            <%= link_to @casework.caseflowwork.casedeal.caseitem.code,
            caseitem_path(@casework.caseflowwork.casedeal.caseitem) %>-
            <%=  @casework.caseflowwork.casedeal.caseitem.name %>
          </span>
           - <%= @casework.caseflowwork.casedeal.name %> - <%= @casework.name %>-<%= @casework.id %>
        </h6>
        <h6 class="card-title">
          <% @casework.caseflowwork.casedeal.caseflowworks.each do |caseflowwork| %>
           <% if caseflowwork.name == @casework.caseflowwork.name %>
             <!-- <button type="button" class="btn btn-light btn-sm"> -->
               <span class="btn-info btn-sm"><%= caseflowwork.name %></span> |
             <!-- </button> -->
           <% else %>
             <%= caseflowwork.name %> |
           <% end %>
          <% end %>
        </h6>
      </div>

  </div>
  <!-- casework -->
  <div class="card-header bg-transparent border-first">
    <div class="card-block border-0">
      <div class="p-1 form-group row">
        <div class="col-sm-4"><p><%= @casework.buy.code %>：<%= @casework.buy.name %></p></div>
        <div class="col-sm-4"><p><%= @casework.sell.code %>：<%= @casework.sell.name %></p></div>

        <div class="col-sm-4"><p>状态：<%= @casework.status %></p></div>

        <div class="col-sm-4"><p>日期：<%= @casework.created_at.strftime('%Y-%m-%d') %></p></div>
        <div class="col-sm-4 d-none d-sm-block"><p>桌面显示</p></div>
      </div>
    </div>
  </div>



  <div class="card-body ">
    <!-- casedeal -->
      <ul id="mytab" class="nav nav-tabs flex-sm-row">

        <% if @casework.caseflowwork.subdealtype == 1 %>
          <li  class="nav-item">
            <a class="nav-link active show" href="#<%= "资源" %>" data-toggle="tab"><%= "资源" %></a>
          </li>
          <li  class="nav-item">
            <a class="nav-link" href="#<%= "内容" %>" data-toggle="tab"><%= "内容" %></a>
          </li>
        <% else %>
           <li  class="nav-item">
            <a href="<% @casework.caseflowwork.subdealtype %>"</a>
            <a class="nav-link active show" href="#<%= "管理资源" %>" data-toggle="tab"><%= "管理资源" %></a>
          </li>
          <li  class="nav-item">
            <a class="nav-link" href="#<%= "管理内容" %>" data-toggle="tab"><%= "管理内容" %></a>
          </li>
        <% end %>


        <li  class="nav-item">
          <a class="nav-link" href="#<%= "附件" %>" data-toggle="tab"><%= "附件" %></a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" href="#<%= "审批1" %>" data-toggle="tab"><%= "审批" %></a>
        </li>
      </ul><p></p>

      <div class="tab-content">
        <% if @casework.caseflowwork.subdealtype == 1 %>
          <!-- 资源 -->
          <div class="tab-pane active" id="资源">
            <%= render "caseworks/caseworkline_kind" %>
          </div>
          <!-- 内容 -->
          <div class="tab-pane " id="内容">
            <%= render "caseworks/caseworkline_thing" %>
          </div>
        <% else %>
          <!-- 管理资源 -->
          <div class="tab-pane " id="管理资源">
               <%= render "caseworks/casework_magkind" %>
          </div>
          <!-- 管理内容 -->
          <div class="tab-pane " id="管理内容">
               <%= render "caseworks/casework_magthing" %>
          </div>
        <% end %>



        <div class="tab-pane " id="附件">
          <p>hello 附件</p>
        </div>
        <div class="tab-pane " id="审批">
          <p>hello 审批</p>
        </div>
      </div>


  </div>


  <div class="card-footer bg-transparent border-first">
    <div class="p-1 form-group row">

      <div class="col-sm-4"><p><%= @casework.sales.code %>：<%= @casework.sales.name %></p></div>

      <div class="col-sm-4"><p>备注：<%= @casework.remarks %></p></div>

    </div>
    <%= link_to 'Edit', edit_casework_path(@casework) %> |
    <%= link_to 'Edit', edit_casework_path(@casework) %> 
    <!-- <%= link_to 'Back', caseworks_path %> -->
    <%= link_to 'Back', caseitem_path(@casework.caseflowwork.casedeal.caseitem) %>
  </div>

<!-- </div> -->
