<p id="notice"><%= notice %></p>

<h1>Activeunits</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activeunits.each do |activeunit| %>
      <tr>
        <td><%= activeunit.code %></td>
        <td><%= activeunit.name %></td>
        <td><%= link_to 'Show', activeunit %></td>
        <td><%= link_to 'Edit', edit_activeunit_path(activeunit) %></td>
        <td><%= link_to 'Destroy', activeunit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activeunit', new_activeunit_path %>
