<p id="notice"><%= notice %></p>

<p>
  <strong>Casework:</strong>
  <%= @caseworkesselinemag.casework.id %>
</p>

<p>
  <strong>Esse:</strong>
  <%= @caseworkesselinemag.esse.id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @caseworkesselinemag.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @caseworkesselinemag.name %>
</p>

<p>
  <strong>Esselinetype:</strong>
  <%= @caseworkesselinemag.esselinetype %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @caseworkesselinemag.remarks %>
</p>

<p>
  <strong>Status:</strong>
  <%= @caseworkesselinemag.status %>
</p>

<%= link_to 'Edit', edit_caseworkesselinemag_path(@caseworkesselinemag) %> |
<%= link_to 'Back', caseworkesselinemags_path %>
