<%= form_with(model: thing, local: true) do |form| %>
  <% if thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% thing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :casework_id %>
    <%= form.text_field :casework_id, id: :thing_casework_id %>
  </div>

  <div class="field">
    <%= form.label :kind_id %>
    <%= form.text_field :kind_id, id: :thing_kind_id %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :thing_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :thing_name %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks, id: :thing_remarks %>
  </div>

  <div class="field">
    <%= form.label :thingtype %>
    <%= form.number_field :thingtype, id: :thing_thingtype %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :thing_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
