<%= form_with(model: caseitem, local: true) do |form| %>
  <% if caseitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caseitem.errors.count, "error") %> prohibited this caseitem from being saved:</h2>

      <ul>
      <% caseitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :caseitem_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :caseitem_name %>
  </div>


  <div class="field">
    <%= form.label :flowitem_id,"Flowitem" %>
    <%= form.select :flowitem_id, Flowitem.all.collect {|p| [ p.name, p.id ] } %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :caseitem_status %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks, id: :caseitem_remarks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
