<%= form_with(model: caseworkline, local: true) do |form| %>
  <% if caseworkline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caseworkline.errors.count, "error") %> prohibited this caseworkline from being saved:</h2>

      <ul>
      <% caseworkline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :casework_id %>
    <%= form.text_field :casework_id, id: :caseworkline_casework_id %>
  </div>

  <div class="field">
    <%= form.label :caseitem_id %>
    <%= form.text_field :caseitem_id, id: :caseworkline_caseitem_id %>
  </div>

  <div class="field">
    <%= form.label :esse_id %>
    <%= form.text_field :esse_id, id: :caseworkline_esse_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :caseworkline_quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :caseworkline_price %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :caseworkline_cost %>
  </div>

  <div class="field">
    <%= form.label :vatgroup %>
    <%= form.number_field :vatgroup, id: :caseworkline_vatgroup %>
  </div>

  <div class="field">
    <%= form.label :whscode %>
    <%= form.number_field :whscode, id: :caseworkline_whscode %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :caseworkline_status %>
  </div>

  <div class="field">
    <%= form.label :openqty %>
    <%= form.number_field :openqty, id: :caseworkline_openqty %>
  </div>

  <div class="field">
    <%= form.label :baseid %>
    <%= form.number_field :baseid, id: :caseworkline_baseid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
