<p id="notice"><%= notice %></p>

<h1>Caseworklines</h1>

<table>
  <thead>
    <tr>
      <th>Casework</th>
      <th>Caseitem</th>
      <th>Esse</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Cost</th>
      <th>Vatgroup</th>
      <th>Whscode</th>
      <th>Status</th>
      <th>Openqty</th>
      <th>Baseid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caseworklines.each do |caseworkline| %>
      <tr>
        <td><%= caseworkline.casework.id %></td>
        <td><%= caseworkline.caseitem.name %></td>
        <td><%= caseworkline.esse.name %></td>
        <td><%= caseworkline.quantity %></td>
        <td><%= caseworkline.price %></td>
        <td><%= caseworkline.cost %></td>
        <td><%= caseworkline.vatgroup %></td>
        <td><%= caseworkline.whscode %></td>
        <td><%= caseworkline.status %></td>
        <td><%= caseworkline.openqty %></td>
        <td><%= caseworkline.baseid %></td>
        <td><%= link_to 'Show', caseworkline %></td>
        <td><%= link_to 'Edit', edit_caseworkline_path(caseworkline) %></td>
        <td><%= link_to 'Destroy', caseworkline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caseworkline', new_caseworkline_path %>
