<p id="notice"><%= notice %></p>

<p>
  <strong>Casework:</strong>
  <%= @caseworkline.casework.id %>
</p>

<p>
  <strong>Caseitem:</strong>
  <%= @caseworkline.caseitem.name %>
</p>

<p>
  <strong>Esse:</strong>
  <%= @caseworkline.esse.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @caseworkline.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @caseworkline.price %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @caseworkline.cost %>
</p>

<p>
  <strong>Vatgroup:</strong>
  <%= @caseworkline.vatgroup %>
</p>

<p>
  <strong>Whscode:</strong>
  <%= @caseworkline.whscode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @caseworkline.status %>
</p>

<p>
  <strong>Openqty:</strong>
  <%= @caseworkline.openqty %>
</p>

<p>
  <strong>Baseid:</strong>
  <%= @caseworkline.baseid %>
</p>

<%= link_to 'Edit', edit_caseworkline_path(@caseworkline) %> |
<%= link_to 'Back', caseworklines_path %>
