<%= form_with(model: unitwork, local: true) do |form| %>
  <% if unitwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unitwork.errors.count, "error") %> prohibited this unitwork from being saved:</h2>

      <ul>
      <% unitwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :unitwork_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :unitwork_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
