<%= form_with(model: unititem, local: true) do |form| %>
  <% if unititem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unititem.errors.count, "error") %> prohibited this unititem from being saved:</h2>

      <ul>
      <% unititem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :unititem_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :unititem_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
