<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @caseflowwork.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @caseflowwork.name %>
</p>

<p>
  <strong>Casedeal:</strong>
  <%= @caseflowwork.casedeal %>
</p>

<p>
  <strong>Accouttype:</strong>
  <%= @caseflowwork.accouttype %>
</p>

<p>
  <strong>Floworderid:</strong>
  <%= @caseflowwork.floworderid %>
</p>

<p>
  <strong>Flowtype:</strong>
  <%= @caseflowwork.flowtype %>
</p>

<p>
  <strong>Vouchertemplatetype:</strong>
  <%= @caseflowwork.vouchertemplatetype %>
</p>

<p>
  <strong>Contenttype:</strong>
  <%= @caseflowwork.contenttype %>
</p>

<p>
  <strong>Resourcestype:</strong>
  <%= @caseflowwork.resourcestype %>
</p>

<p>
  <strong>Subdealtype:</strong>
  <%= @caseflowwork.subdealtype %>
</p>

<p>
  <strong>Stockaccounttype:</strong>
  <%= @caseflowwork.stockaccounttype %>
</p>

<p>
  <strong>Copyresourcestype:</strong>
  <%= @caseflowwork.copyresourcestype %>
</p>

<p>
  <strong>Beforeunitwork:</strong>
  <%= @caseflowwork.beforeunitwork_id %>
</p>

<p>
  <strong>Afterunitwork:</strong>
  <%= @caseflowwork.afterunitwork_id %>
</p>

<%= link_to 'Edit', edit_caseflowwork_path(@caseflowwork) %> |
<%= link_to 'Back', caseflowworks_path %>
