<p id="notice"><%= notice %></p>

<h1>Unitdeals</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unitdeals.each do |unitdeal| %>
      <tr>
        <td><%= unitdeal.code %></td>
        <td><%= unitdeal.name %></td>
        <td><%= link_to 'Show', unitdeal %></td>
        <td><%= link_to 'Edit', edit_unitdeal_path(unitdeal) %></td>
        <td><%= link_to 'Destroy', unitdeal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unitdeal', new_unitdeal_path %>
