<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @unitdeal.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unitdeal.name %>
</p>

<%= link_to 'Edit', edit_unitdeal_path(@unitdeal) %> |
<%= link_to 'Back', unitdeals_path %>
