<p id="notice"><%= notice %></p>

<p>
  <strong>Casework:</strong>
  <%= @caseworklinething.casework %>
</p>

<p>
  <strong>Caseitem:</strong>
  <%= @caseworklinething.caseitem %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @caseworklinething.kind %>
</p>

<p>
  <strong>Thing:</strong>
  <%= @caseworklinething.thing %>
</p>

<p>
  <strong>Thingcode:</strong>
  <%= @caseworklinething.thingcode %>
</p>

<p>
  <strong>Thingname:</strong>
  <%= @caseworklinething.thingname %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @caseworklinething.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @caseworklinething.unit %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @caseworklinething.remarks %>
</p>

<p>
  <strong>Begindate:</strong>
  <%= @caseworklinething.begindate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @caseworklinething.enddate %>
</p>

<p>
  <strong>Fromwhscode:</strong>
  <%= @caseworklinething.fromwhscode %>
</p>

<p>
  <strong>Towhscode:</strong>
  <%= @caseworklinething.towhscode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @caseworklinething.status %>
</p>

<%= link_to 'Edit', edit_caseworklinething_path(@caseworklinething) %> |
<%= link_to 'Back', caseworklinethings_path %>
