<!-- header -->
<div class="card-header bg-transparent border-first">
  <div class="card-block border-0">

    <p id="notice"><%= notice %></p>


    <h1>Dutyworks Lists</h1>
  </div>
</div>
<!-- body -->
<div class="card-body text-first border-first">
  <table class="table table-sm table-striped">
   <thead class="thead-dark">
     <tr>
       <th>Role</th>
       <th>Id</th>
       <th>Flowitem</th>
       <th>Flowdeal</th>
       <th>Flowwork</th>
       <th>Seltype</th>
       <th>Addtype</th>
       <th>Updtype</th>
       <th>Deltype</th>
       <th colspan="3"></th>
     </tr>
   </thead>


   <tbody>
     <% @dutyworks.each do |dutywork| %>
       <tr>
         <td><%= dutywork.dutydeal.dutyitem.role.name %></td>
          <td><%= link_to dutywork.id,edit_dutywork_path(dutywork) %></td>
         <td><%= dutywork.dutydeal.flowdeal.flowitem.name %></td>
         <td><%= dutywork.dutydeal.flowdeal.unitdeal.name %></td>
         <td><%= link_to dutywork.flowwork.unitwork.name,dutywork %></td>
         <td><%= dutywork.seltype %></td>
         <td><%= dutywork.addtype %></td>
         <td><%= dutywork.updtype %></td>
         <td><%= dutywork.deltype %></td>
         <!-- <td><%= link_to 'Show', dutywork %></td>
         <td><%= link_to 'Edit', edit_dutywork_path(dutywork) %></td> -->
         <td><%= link_to 'Destroy', dutywork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
     <% end %>
   </tbody>

   <tfoot>
    <tr >

    </tr>
   </tfoot>
  </table>
</div>
<!-- footer -->
<div class="card-footer bg-transparent border-first">

  <%= link_to 'New Dutywork', new_dutywork_path %>
</div>


<table>
  <thead>

  </thead>

  <tbody>

  </tbody>
</table>

<br>
