<p id="notice"><%= notice %></p>

<p>
  <strong>Dutydeal:</strong>
  <%= @dutywork.dutydeal %>
</p>

<p>
  <strong>Flowwork:</strong>
  <%= @dutywork.flowwork %>
</p>

<p>
  <strong>Seltype:</strong>
  <%= @dutywork.seltype %>
</p>

<p>
  <strong>Addtype:</strong>
  <%= @dutywork.addtype %>
</p>

<p>
  <strong>Updtype:</strong>
  <%= @dutywork.updtype %>
</p>

<p>
  <strong>Deltype:</strong>
  <%= @dutywork.deltype %>
</p>

<%= link_to 'Edit', edit_dutywork_path(@dutywork) %> |
<%= link_to 'Back', dutyworks_path %>
