<p id="notice"><%= notice %></p>

<h1>Businessunits</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businessunits.each do |businessunit| %>
      <tr>
        <td><%= businessunit.code %></td>
        <td><%= businessunit.name %></td>
        <td><%= link_to 'Show', businessunit %></td>
        <td><%= link_to 'Edit', edit_businessunit_path(businessunit) %></td>
        <td><%= link_to 'Destroy', businessunit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Businessunit', new_businessunit_path %>
