<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @roleconfig.user.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @roleconfig.role.name %>
</p>

<%= link_to 'Edit', edit_roleconfig_path(@roleconfig) %> |
<%= link_to 'Back', roleconfigs_path %>
