<p id="notice"><%= notice %></p>

<!-- header -->
<div class="card-header bg-transparent border-first">
  <div class="card-block border-0">
    <h1>Roles</h1>
  </div>
</div>
<!-- body -->
<div class="card-body text-first border-first">
  <table class="table table-sm table-striped">
   <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th colspan="3"></th>
    </tr>
   </thead>

   <tbody>
     <% @roles.each do |role| %>
       <tr>
         <td><%= link_to role.id, edit_role_path(role) %></td>
         <td><%= link_to role.name, role %></td>
         <td><%= role.created_at.strftime('%Y-%m-%d') %></td>
         <td><%= role.updated_at.strftime('%Y-%m-%d') %></td>

         <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
     <% end %>
   </tbody>

   <tfoot>
    <tr >

    </tr>
   </tfoot>
  </table>
</div>
<!-- footer -->
<div class="card-footer bg-transparent border-first">
  <br>

  <%= link_to 'New Role', new_role_path %>

</div>

<table>
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
