<p id="notice"><%= notice %></p>

<h1>Caseworkessemags</h1>

<table>
  <thead>
    <tr>
      <th>Casework</th>
      <th>Code</th>
      <th>Name</th>
      <th>Essetype</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caseworkessemags.each do |caseworkessemag| %>
      <tr>
        <td><%= caseworkessemag.casework.id %></td>
        <td><%= caseworkessemag.code %></td>
        <td><%= caseworkessemag.name %></td>
        <td><%= caseworkessemag.essetype %></td>
        <td><%= caseworkessemag.status %></td>
        <td><%= link_to 'Show', caseworkessemag %></td>
        <td><%= link_to 'Edit', edit_caseworkessemag_path(caseworkessemag) %></td>
        <td><%= link_to 'Destroy', caseworkessemag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caseworkessemag', new_caseworkessemag_path %>
