<p id="notice"><%= notice %></p>

<p>
  <strong>Casework:</strong>
  <%= @caseworkessemag.casework %>
</p>

<p>
  <strong>Code:</strong>
  <%= @caseworkessemag.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @caseworkessemag.name %>
</p>

<p>
  <strong>Essetype:</strong>
  <%= @caseworkessemag.essetype %>
</p>

<p>
  <strong>Status:</strong>
  <%= @caseworkessemag.status %>
</p>

<%= link_to 'Edit', edit_caseworkessemag_path(@caseworkessemag) %> |
<%= link_to 'Back', caseworkessemags_path %>
