<%= form_with(model: flowwork, local: true) do |form| %>
  <% if flowwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flowwork.errors.count, "error") %> prohibited this flowwork from being saved:</h2>

      <ul>
      <% flowwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :flowdeal_id,"Flowdeal" %>
    <%= form.select :flowdeal_id,
    Flowdeal.all.collect {|p| [ p.unitdeal.name, p.id ] } %>
  </div>


  <div class="field">
    <%= form.label :unitwork_id,"Flowdeal" %>
    <%= form.select :unitwork_id,
    Unitwork.all.collect {|p| [ p.name, p.id ] } %>
  </div>

  <div class="field">
  <%= form.label :accouttype %>
  <%= form.select :accouttype, Flowwork.accouttypes.keys %>
</div>

  <div class="field">
    <%= form.label :floworderid %>
    <%= form.number_field :floworderid, id: :flowwork_floworderid %>
  </div>

  <div class="field">
  <%= form.label :flowtype %>
  <%= form.select :flowtype, Flowwork.flowtypes.keys %>
</div>



  <div class="field">
  <%= form.label :vouchertemplatetype %>
  <%= form.select :vouchertemplatetype, Flowwork.vouchertemplatetypes.keys %>
</div>

  <div class="field">
  <%= form.label :contenttype %>
  <%= form.select :contenttype, Flowwork.contenttypes.keys %>
</div>

<div class="field">
  <%= form.label :resourcestype %>
  <%= form.select :resourcestype, Flowwork.resourcestypes.keys %>
</div>

<div class="field">
  <%= form.label :subdealtype %>
  <%= form.select :subdealtype, Flowwork.subdealtypes.keys %>
</div>

<div class="field">
  <%= form.label :stockaccounttype %>
  <%= form.select :stockaccounttype, Flowwork.stockaccounttypes.keys %>
</div>

<div class="field">
  <%= form.label :copyresourcestype %>
  <%= form.select :copyresourcestype, Flowwork.copyresourcestypes.keys %>
</div>



<div class="field">
  <%= form.label :beforeunitwork_id,"before unitwork name" %>
  <%= form.select :beforeunitwork_id,
  Flowwork.where(flowdeal_id: flowwork.flowdeal_id).all.collect {|p| [ p.unitwork.name, p.id ] } %>
</div>
<div class="field">
  <%= form.label :afterunitwork_id,"after unitwork name" %>
  <%= form.select :afterunitwork_id,
  Flowwork.where(flowdeal_id: flowwork.flowdeal_id).all.collect {|p| [ p.unitwork.name, p.id ] } %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
