<p id="notice"><%= notice %></p>

<h1>Flowworks</h1>

<table>
  <thead>
    <tr>
      <th>Flow deal</th>
      <th>Unit work</th>
      <th>Accout type</th>
      <th>Flow orderid</th>
      <th>Flow type</th>
      <th>Voucher template type</th>
      <th>Content type</th>
      <th>Esse type</th>
      <th>Subdeal type</th>
      <th>Stock account type</th>
      <th>Copy resources type</th>
      <th>Before unit work</th>
      <th>After unit work</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flowworks.each do |flowwork| %>
      <tr>
        <td><%= flowwork.flowdeal.unitdeal.name %></td>
        <td><%= flowwork.unitwork.name %></td>
        <td><%= flowwork.accouttype %></td>
        <td><%= flowwork.floworderid %></td>
        <td><%= flowwork.flowtype %></td>
        <td><%= flowwork.vouchertemplatetype %></td>
        <td><%= flowwork.contenttype %></td>
        <td><%= flowwork.resourcestype %></td>
        <td><%= flowwork.subdealtype %></td>
        <td><%= flowwork.stockaccounttype %></td>
        <td><%= flowwork.copyresourcestype %></td>
        <td><%= flowwork.beforeflowwork.unitwork.name %></td>
        <td><%= flowwork.afterflowwork.unitwork.name %></td>
        <td><%= link_to 'Show', flowwork %></td>
        <td><%= link_to 'Edit', edit_flowwork_path(flowwork) %></td>
        <td><%= link_to 'Destroy', flowwork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flowwork', new_flowwork_path %>
