<p id="notice"><%= notice %></p>

<p>
  <strong>Flowdeal:</strong>
  <%= @flowwork.flowdeal.unitdeal.name %>
</p>

<p>
  <strong>Unitwork:</strong>
  <%= @flowwork.unitwork.name %>
</p>

<p>
  <strong>Accouttype:</strong>
  <%= @flowwork.accouttype %>
</p>

<p>
  <strong>Floworderid:</strong>
  <%= @flowwork.floworderid %>
</p>

<p>
  <strong>Flowtype:</strong>
  <%= @flowwork.flowtype %>
</p>

<p>
  <strong>Vouchertemplatetype:</strong>
  <%= @flowwork.vouchertemplatetype %>
</p>

<p>
  <strong>Contenttype:</strong>
  <%= @flowwork.contenttype %>
</p>

<p>
  <strong>Resourcestype:</strong>
  <%= @flowwork.resourcestype %>
</p>

<p>
  <strong>Subdealtype:</strong>
  <%= @flowwork.subdealtype %>
</p>

<p>
  <strong>Stockaccounttype:</strong>
  <%= @flowwork.stockaccounttype %>
</p>

<p>
  <strong>Copyresourcestype:</strong>
  <%= @flowwork.copyresourcestype %>
</p>

<p>
  <strong>Beforeunitwork:</strong>
  <%= @flowwork.beforeunitwork_id %>
</p>

<p>
  <strong>Afterunitwork:</strong>
  <%= @flowwork.afterunitwork_id %>
</p>

<%= link_to 'Edit', edit_flowwork_path(@flowwork) %> |
<%= link_to 'Back', flowworks_path %>
