<!DOCTYPE html>

<html>
  <head>
    <title>MyWork</title>
    <!-- <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <header>
      <div class="container">

        <nav class="navbar navbar-expand-md navbar-light bg-transparent">
          <a class="navbar-brand" href="#"><strong>MyWork</strong>.net</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href=<%= caseitems_path %>>项目</a>
              </li>



              <% if session[:user_name] == "admin" %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  设置
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href=<%= users_path %>>用户</a>
                  <a class="dropdown-item" href=<%= roles_path %>>角色</a>
                  <a class="dropdown-item" href=<%= roleconfigs_path %>>配置</a>
                  <a class="dropdown-item" href=<%= dutyitems_path %>>项目职责</a>
                  <a class="dropdown-item" href=<%= dutydeals_path %>>交易职责</a>
                  <a class="dropdown-item" href=<%= dutyworks_path %>>工作职责</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  流程
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href=<%= unititems_path %>>项目组件</a>
                  <a class="dropdown-item" href=<%= unitdeals_path %>>交易组件</a>
                  <a class="dropdown-item" href=<%= unitworks_path %>>工作组件</a>
                  <a class="dropdown-item" href=<%= flowitems_path %>>项目流程</a>
                  <a class="dropdown-item" href=<%= flowdeals_path %>>交易流程</a>
                  <a class="dropdown-item" href=<%= flowworks_path %>>工作流程</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  工作
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href=<%= caseitems_path %>>项目</a>
                  <a class="dropdown-item" href=<%= casedeals_path %>>交易</a>
                  <a class="dropdown-item" href=<%= caseflowworks_path %>>工作流程</a>
                  <a class="dropdown-item" href=<%= caseworks_path %>>工作</a>
                  <a class="dropdown-item" href=<%= caseworklines_path %>>工作明细</a>
                  <a class="dropdown-item" href=<%= kinds_path %>>类聚</a>
                  <a class="dropdown-item" href=<%= things_path %>>物以</a>
                  <a class="dropdown-item" href=<%= esses_path %>>资源</a>
                  <a class="dropdown-item" href=<%= esselines_path %>>资源明细</a>
                </div>
              </li>



              <% end %>
              <li class="nav-item active">
                <a class="nav-link" href="users">
                  <%= button_to '退出', logout_path, method: :delete   %>
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                  <a class="dropdown-item" href=<%= users_path %> ><%= link_to session[:user_name],user_path(21) %></a>

              </li>

            </ul>
          </div>
        </nav>
      </div>

    </header>

  </head>

  <body >


    <div class="container-fluid">
      <div  class="card bg-light mb-3">
     <%= yield %>
      </div>

    </div>

    <footer class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-transparent">
        <a class="navbar-brand" href="#">2018©mywork      icp备210037号</a>

      </nav>
    </footer>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
