<p id="notice"><%= notice %></p>

<h1>Esselines</h1>

<table>
  <thead>
    <tr>
      <th>Esse</th>
      <th>Code</th>
      <th>Name</th>
      <th>Esselinetype</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @esselines.each do |esseline| %>
      <tr>
        <td><%= esseline.esse %></td>
        <td><%= esseline.code %></td>
        <td><%= esseline.name %></td>
        <td><%= esseline.esselinetype %></td>
        <td><%= esseline.remarks %></td>
        <td><%= link_to 'Show', esseline %></td>
        <td><%= link_to 'Edit', edit_esseline_path(esseline) %></td>
        <td><%= link_to 'Destroy', esseline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Esseline', new_esseline_path %>
